

.need
  .media
    %a.pull-left{ :href => "#"}
      = image_tag "/#{need.need_type.logo}", :class => "media-object"

    .media-body
      %h4.media-heading
        = need.name
        - if current_user.try("admin?")
          = link_to edit_organization_need_path(need.organization, need), :class => "edit-link" do
            %i.icon-edit
            modifica



      raccolti
      = "#{need.supplies.sum(:quantity)} su #{need.requested_quantity} #{need.need_type.um}"
      .clearfix

      .progress.progress-striped

        .bar{:style => "width: #{need.percent_completed}%;" }

      = link_to new_organization_need_supply_path(need.organization, need), {"data-need_id"=> "#{need.id}", :class=>"btn btn-large btn-help btn-primary pull-right"} do

        %i.icon-heart
        Aiuta!

      .clearfix
      - if need.supplies.present?
        = link_to "Donazioni precedenti", "#", :class => "show-hide-donations", :data => { :need_id => need.id}
        .supplies{:id => "supplies-need-#{need.id}", :style => "display:none;"}

          - need.supplies.each do |supply|
            .supply
              = "#{supply.user.username} ha donato #{supply.quantity} #{need.need_type.um}"

      - if need.attachments.present?
        <!-- Button to trigger modal -->
        = link_to "Aggiornamenti", "#updates_modal", "data-toggle" => 'modal'

        <!-- Modal -->
        #updates_modal{:class => "modal hide fade", :tabindex => "-1", :role => "dialog" }
          #modal-header
            = button_tag "", :type => "button", :class => "close", "data-dismiss" => "modal"
            %h3
              Segui gli aggiornamenti di
              = need.organization.name
          .modal-body
            #carousel.carousel.slide
              #carousel_inner
                - need.attachments.each_with_index do |attachment, i|
                  - active = i == 0 ? "active" : ""
                  .item{:class => active}
                    = image_tag attachment.photo.url(:large)

              = link_to "‹", "#carousel", :class => "carousel-control left",  "data-slide"=> "prev"
              = link_to "›", "#carousel", :class => "carousel-control right",  "data-slide"=> "next"



          .modal-footer
            = button_tag "Ok", :class => "btn btn-primary", "data-dismiss" => "modal"

  .clearfix
