.need
  .media
    %a.pull-left{ :href => "#"}
      = image_tag "/#{need.need_type.logo}", :class => "media-object"

    .media-body
      %h4.media-heading
        = need.name

      raccolti
      = "#{need.supplies.sum(:quantity)} su #{need.requested_quantity} #{need.need_type.um}"

      .progress.progress-striped
        .bar{:style => "width: #{need.percent_completed}%;" }

      = link_to new_organization_need_supply_path(need.organization, need), :class=>"btn btn-large btn-primary pull-right" do
        %i.icon-heart
        Aiuta!

      - if need.supplies.present?
        = link_to "Donazioni precedenti", "#", :class => "show-hide-donations", :data => { :need_id => need.id}
        .supplies{:id => "supplies-need-#{need.id}", :style => "display:none;"}

          - need.supplies.each do |supply|
            .supply
              = "#{supply.user.username} ha donato #{supply.quantity} #{need.need_type.um}"
