
- if @is_modal
  %a{:class=>"close-reveal-modal", :href=>"#"} &#215;

%h1
  Contribuisci anche tu!

%h3
  = @need.organization.description

= form_for [@need.organization, @need, @supply] do |f|
  = f.label "Quantità"
  = f.text_field :quantity
  = f.submit "Invia", :class => "btn btn-primary"
