= javascript_include_tag "organizations"
.organization-show
  %h1
    = @organization.name

  %h3
    = @organization.description


  %h4
    Completamento campagna
  .span6
    .media
      .pull-left.percented-completed
        = "#{@organization.percent_completed}%"

      .media-body
        .progress.progress-striped
          .bar{:style => "width: #{@organization.percent_completed}%; "}

  .clearfix
  %h4
    Aiuti richiesti
  .span6
    = render @organization.needs

  .span4.hint-choose-help
    = image_tag "hint-choose-need.png", :class => "hint-image hidden-phone"
